.electric_board {
  background-color: #333333;
  position: relative;
  .message {
    font-weight: bold;
    font-size: 48px;
    font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
  }
}

.box_curve {
  border-radius: 10px;
}
