.accordion
  %h3 stations
  -# %div{:style => "opacity: 0.75" }
  -# %div{:style => "height:30%; opacity: 0.75; overflow-y: scroll;" }
  %div{:style => "height:30%; opacity: 0.75;" }
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Station
          %th Next
      %tbody
        %tr
          %td test01
          %td test02
