.accordion
  %h3 stations
  -# %div{:style => "opacity: 0.75" }
  -# %div{:style => "height:30%; opacity: 0.75; overflow-y: scroll;" }
  %div
    %table.table.table-striped.table-bordered#train_route_stations
