-# %div{:style => "height:200px; width:200px; opacity: 0.75; overflow-y: scroll;" }
-# %div{:style => "height:30%; opacity: 0.75; overflow-y: scroll;" }
%div{:style => "width:200px; max-height:200px; overflow-y: scroll;" }
  -# %table.table.table-striped.table-bordered#train_route_stations
  -# %table.table#train_route_stations{:style => "background-color: #ddd; border: 1px solid #000; " }
  %table.table.table-bordered#train_route_stations{:style => "background-color: #888;"}
    -# %thead
      -# %tr
      -#   %th Station
      -#   %th Next
