-# %div{:style => "height:200px; width:200px; opacity: 0.75; overflow-y: scroll;" }
%div{:style => "height:75%; width:100%; opacity: 0.75; overflow-y: scroll;" }
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th Station
        %th Next
    %tbody
      %tr
        %td test01
        %td test02
      %tr
        %td test11
        %td test12
      %tr
        %td test21
        %td test22
      %tr
        %td test31
        %td test32
      %tr
        %td test41
        %td test42
      %tr
        %td test51
        %td test52
      %tr
        %td test61
        %td test62
      %tr
        %td test71
        %td test72
