%h1 Listing train_route_stations

.container
  .row
    .col-md-4
      = render :partial => "list"
    .col-md-8
      -# = render :partial => "list"
      #ol_map.ol_map{:style => "height:600px"}
  .row
    = link_to 'New Train route station', new_train_route_station_path
    
